/* Google Font Import - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

:root{
    /* ===== Colors ===== */
    --body-color: #fff;
    --sidebar-color: orange;
    --primary-color: yellow;
    --primary-color-light: #F6F5FF;
    --toggle-color: #DDD;
    --text-color: #000000;

    /* ====== Transition ====== */
    --tran-03: all 0.2s ease;
    --tran-03: all 0.3s ease;
    --tran-04: all 0.3s ease;
    --tran-05: all 0.3s ease;
}

body{
    min-height: 100vh;
    background-color: var(--body-color);
    transition: var(--tran-05);
}

::selection{
    background-color: var(--primary-color);
    color: #fff;
}

body.dark{
    --body-color: #242526;
    --sidebar-color: #242526;
    --primary-color: #3a3b3c;
    --primary-color-light: #3a3b3c;
    --toggle-color: #fff;
    --text-color: #ccc;
}

/* ===== Sidebar ===== */
 .sidebar{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 250px;
    padding: 10px 14px;
    background: var(--sidebar-color);
    transition: var(--tran-05);
    z-index: 100;  
}
.sidebar.close{
    width: 88px;
}

/* ===== Reusable code - Here ===== */
.sidebar li{
    height: 50px;
    list-style: none;
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.sidebar header .image,
.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
}

.sidebar .icon{
    min-width: 60px;
    border-radius: 6px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
}

.sidebar .text,
.sidebar .icon{
    color: var(--text-color);
    transition: var(--tran-03);
}

.sidebar .text{
    font-size: 17px;
    font-weight: 500;
    white-space: nowrap;
    opacity: 1;
}
.sidebar.close .text{
    opacity: 0;
}
/* =========================== */

.sidebar header{
    position: relative;
}

.sidebar header .image-text{
    display: flex;
    margin-bottom: -30px;
    align-items: center;
}
.sidebar header .logo-text{
    display: flex;
    flex-direction: column;
}
header .image-text .name {
    margin-top: 2px;
    font-size: 18px;
    font-weight: 600;
}

header .image-text .profession{
    font-size: 16px;
    margin-top: -2px;
    display: block;
}

.sidebar header .image{
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar header .image img{
    width: 40px;
    border-radius: 6px;
}

.sidebar header .toggle{
    position: absolute;
    top: 50%;
    right: -25px;
    transform: translateY(-50%) rotate(180deg);
    height: 25px;
    width: 25px;
    background-color: var(--primary-color);
    border: 1px orange solid;
    color: var(--sidebar-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    cursor: pointer;
    transition: var(--tran-05);
}

body.dark .sidebar header .toggle{
    color: var(--text-color);
}
body.dark .team {
    color: var(--text-color);
}
body.dark .home .grid-container p {
    color: var(--text-color);
}
body.dark .home .reviews p,h3,h2,h1,label {
    color: var(--text-color);
}
.sidebar.close .toggle{
    transform: translateY(-50%) rotate(0deg);
}

.sidebar .menu{
    margin-top: 40px;
}

.sidebar li.search-box{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    cursor: pointer;
    transition: var(--tran-05);
}

.sidebar li.search-box input{
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    background-color: var(--primary-color-light);
    color: var(--text-color);
    border-radius: 6px;
    font-size: 17px;
    font-weight: 500;
    transition: var(--tran-05);
}
.sidebar li a{
    list-style: none;
    height: 100%;
    background-color: transparent;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 6px;
    text-decoration: none;
    transition: var(--tran-03);
}

.sidebar li a:hover{
    background-color: var(--primary-color);
}
.sidebar li a:hover .icon,
.sidebar li a:hover .text{
    color: var(--sidebar-color);
}
body.dark .sidebar li a:hover .icon,
body.dark .sidebar li a:hover .text{
    color: var(--text-color);
}

.sidebar .menu-bar{
    height: calc(100% - 55px);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
}
.menu-bar::-webkit-scrollbar{
    display: none;
}
.sidebar .menu-bar .mode{
    border-radius: 6px;
    background-color: var(--primary-color-light);
    position: relative;
    transition: var(--tran-05);
}

.menu-bar .mode .sun-moon{
    height: 50px;
    width: 60px;
}

.mode .sun-moon i{
    position: absolute;
}
.mode .sun-moon i.sun{
    opacity: 0;
}
body.dark .mode .sun-moon i.sun{
    opacity: 1;
}
body.dark .mode .sun-moon i.moon{
    opacity: 0;
}

.menu-bar .bottom-content .toggle-switch{
    position: absolute;
    right: 0;
    height: 100%;
    min-width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 6px;
    cursor: pointer;
}
.toggle-switch .switch{
    position: relative;
    height: 22px;
    width: 40px;
    border-radius: 25px;
    background-color: var(--toggle-color);
    transition: var(--tran-05);
}

.switch::before{
    content: '';
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    background-color: var(--sidebar-color);
    transition: var(--tran-04);
}

body.dark .switch::before{
    left: 20px;
}

.home{
    position: absolute;
    padding-left: 270px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
    background-color: var(--body-color);
    transition: var(--tran-05);
}
.home .text{
    font-size: 30px;
    font-weight: 500;
    color: var(--text-color);
    padding: 12px 60px;
}

.sidebar.close ~ .home{
    padding-left: 100px;
    height: 100vh;
    width: 100%;
    box-sizing: border-box;
}
body.dark .home .text{
    color: var(--text-color);
}
.grid-container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
    align-items: center;
    padding: 20px;
}

.grid-item-img img {
    width: 600px;
    height: 500px;
    padding-top: 10px;
    border-radius: 30px;
    background-image: url(images/fff.png);
    background-size: 100% auto;
}

.grid-item-text {
    padding: 20px;

}
.mis {
    font-size: 80px;
    color: #f01965;
}
.sec1 {
    height: 500px;
    width: 700px;
}
.tombol {
    padding: 6px;
    border-radius: 30px;
    margin-top: 10px;
    text-align: center;
    background-color: blueviolet;
}
/* SECTION TIM REDAKSI */
.team {
    padding: 20px;
}
.col {
    text-align: center;
}

/* Tambahkan gaya untuk grid team */
.team-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
    gap: 20px;
    padding-top: 20px;
    text-align: center;
    border-radius: 10px;
}
.team-grid h3 , p {
    padding-left: 5px;
}

/* Atur gambar agar tetap di dalam kartu */
.card img {
    width: 200px;
    margin-top: 10px;
    height: auto;
    border-radius: 10px;
}


.team i {
    font-size: 26px;
    color: #555;
}

.team p {
    font-weight: 500;
}

.team .card {
    border-radius: 10px;
    box-shadow: 5px 5px 15px #e74c3c;
    transition: background-color 0.3s ease-in, box-shadow 0.3s ease-in;
}

.team .card:hover {
    background-color: #e74c3c;
    color: #fff;
    border-radius: 5px;
    border: none;
    box-shadow: 5px 5px 10px #9e9e9e;
}

.team .card:hover h3,
.team .card:hover i {
    color: #fff;
}
/* CSS Section 2 */
.grid-redaksi {
    display: grid;
    grid-template-columns: auto 1fr; /* Bagian pertama untuk foto, bagian kedua untuk teks */
    grid-gap: 20px; /* Jarak antara kolom */
    align-items: center; /* Posisi vertikal elemen */
  }
  
.grid-redaksi img {
    max-width: 100%; /* Mengatur lebar maksimum untuk gambar */
    margin-left: -20px;
  }
  
.grid-redaksi p {
    margin-top: 0; /* Menghilangkan margin atas dari paragraf */
    text-indent: 40px;
  }
body.dark .grid-redaksi p{
    color: var(--text-color);
}
/* MOBILE REPONSIVE */
@media screen and (max-width: 600px) {
    .sidebar {
        width: 100%;
        padding: 10px;
    }
    
    .sidebar.close {
        width: 80px;
        box-sizing: border-box;
        
    }
    

    .sidebar header .toggle {
        right: -20px;
    }
    
    .home {
        box-sizing: border-box;
        width: 100%;
    }
    
    .sidebar.close ~ .home {
        padding-left: 80px;
        width: 100%;
    }
    .sidebar.close ~ .image-text .image{
        left: -50px;
    }
    body.dark .sidebar header .toggle{
        color: var(--text-color);
    }
    body.dark .team {
        color: var(--text-color);
    }
    body.dark .grid-container p {
        color: var(--text-color);
    }
    .grid-container {
        grid-template-columns: 1fr;
        padding: 20px;
    }
    
    .grid-item-img img {
        width: 100%;
        height: auto;
        border-radius: 30px;
        background-image: url(images/fff.png);
    }
    
    .grid-item-text {
        padding: 20px;
    }
    
    .mis {
        font-size: 40px;
        text-align: center;
    }
    
    .sec1 {
        height: auto;
        width: 100%;
        max-width: 100%;
    }
    .team-grid{
        grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
        width: 250px;
        text-align: center;
    }
    .card img{
        width: 250px;
        padding-right: 10px;
        padding-left: 10px;
        border-radius: 20px;
    }
    /* CSS Section 2 */
    .grid-redaksi {
        display: block; /* Mengubah tata letak menjadi blok untuk layar kecil */
      }
    
      .grid-redaksi img {
        margin-left: 0; /* Mengembalikan margin ke nilai default */
      }
    
      .grid-redaksi p {
          padding-right: 20px;
          padding-left: 30px;
          width: 100%;
        text-indent: 20px; /* Mengembalikan text-indent ke nilai default */
      }
    .text-redaksi{
        padding: 20px;
    }
    .kampus-ulasan-container {
        flex-wrap: wrap;
    }

}


/* KOTAK ULASAN CSS */
.reviews {
    width: 100%;  /* Atur sesuai kebutuhan Anda */
}


.review-box {
    max-width: 900px;
    margin: auto;
}

#formUlasan {
    display: grid;
    grid-gap: 10px;
}

#formUlasan label {
    font-size: 16px;
    font-weight: 500;
}

#formUlasan input,
#formUlasan textarea {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 6px;
}

#formUlasan button {
    background-color: blueviolet;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
}

.map {
    display: none;
    padding-top: 10px;
}  

#Kampus1 {
    display: block;
}

.kampus-ulasan-container {
    display: flex;
    justify-content: center; /* Menengahkan secara horizontal */
    gap: 0px;
}

.map,
.reviews {
    width: calc(100% - 10px); /* Lebar setengah dari container dengan margin 10px */
    box-sizing: border-box;
    margin-bottom: 20px; /* Jarak antar elemen */
}

